.background {
  background-color: #dadada;
  margin: 0px;
  margin-top: 75px;
  height: calc(100vh - 75px);
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.clock {
  background-color: #ffffff;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
}