.background {
  background-color: #f4a261;
  margin: 0px;
  margin-top: 75px;
  height: calc(100vh - 75px);
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main {
  font-family: "Comic Neue", Cambria, Cochin, Georgia, Times, "Times New Roman",
    serif;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  margin-top: 50px;
  border: solid 3px black;
  box-shadow: 3px 3px 10px black;
  border-radius: 10px;
  min-width: fit-content;
  width: 80%;
  padding: 15px;
  background-color: #ee1f1fe7;
}

#title {
  font-family: inherit;
  position: absolute;
  left: 15px;
  top: 35px;
  transform: rotate(-25deg);
  color: rgb(224, 191, 0);
  font-size: 2.5rem;
  word-wrap: break-word;
}

/* Screen and Grid */
.screen {
  margin: auto;
  width: 550px;
  height: 550px;
  border: 3px black solid;
  border-radius: 5px;
  padding: 3px;
  background-color: #ffffff;
}

.grid-container {
  margin: auto;
  width: 100%;
  height: 100%;
  display: grid;
}

.grid-cell {
  margin: auto;
  width: 100%;
  height: 100%;
  cursor: crosshair;
}

/* Color Settings */
.color-settings {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 15%;
  margin: auto;
}

.colorPicker {
  margin: 10px;
  background-color: transparent;
  border: 2px black solid;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  cursor: pointer;
}

input[type="color"]::-webkit-color-swatch {
  border-radius: 50%;
}

.btn-mode {
  font-family: inherit;
  width: 90%;
  min-width: fit-content;
  height: 40px;
  margin: 5px;
  background-color: #f1f1f1;
  border: 1px black solid;
  border-radius: 10px;
  font-size: 1.3rem;
  cursor: pointer;
}

.btn-active {
  background-color: rgb(33, 30, 224);
  color: #ffffff;
}

/* Grid Settings */
.grid-settings {
  width: 15%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.slider-div {
  font-family: inherit;
  width: 100%;
  font-size: 1.2rem;
  padding: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f1f1f1;
  border: 1px solid black;
  border-radius: 10px;
}

.grid-def-slider {
  width: 100%;
  height: 30px;
  margin: 5px;
  cursor: pointer;
}

.btn-clear {
  font-family: inherit;
  width: 90%;
  height: 60px;
  font-size: 1.3rem;
  margin: 5px;
  margin-top: 10px;
  background-color: #f1f1f1;
  border: 1px black solid;
  border-radius: 10px;
  cursor: pointer;
}

/* Shake animation */
.shake-anim {
  animation: shake 1.5s ease-out 0s 1;
}

@keyframes shake {
  0% {
    transform: translate(1px, 1px) rotate(0deg);
  }
  10% {
    transform: translate(-1px, -2px) rotate(-1deg);
  }
  20% {
    transform: translate(-3px, 0px) rotate(1deg);
  }
  30% {
    transform: translate(3px, 2px) rotate(0deg);
  }
  40% {
    transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    transform: translate(3px, 1px) rotate(-1deg);
  }
  80% {
    transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    transform: translate(1px, 2px) rotate(0deg);
  }
  100% {
    transform: translate(0px, -5px) rotate(0deg);
  }
}

.fadeOut-anim {
  animation: fadeOut 1.5s ease-out 0s 1;
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

/* Media Queries */

@media screen and (max-width: 1300px) {
  #title {
    display: none;
  }
}

@media screen and (max-width: 1060px) {
  .screen {
    width: 450px;
    height: 450px;
  }
}
@media screen and (max-width: 850px) {
  .screen {
    width: 350px;
    height: 350px;
  }
  .btn-mode {
    font-size: 1rem;
  }
  .slider-div {
    font-size: 1rem;
  }
  .btn-clear {
    font-size: 1rem;
  }
}
@media screen and (max-width: 650px) {
  .screen {
    width: 250px;
    height: 250px;
  }
  .btn-mode {
    font-size: 0.8rem;
  }
  .slider-div {
    font-size: 0.8rem;
  }
  .btn-clear {
    font-size: 0.8rem;
  }
}
@media screen and (max-width: 570px) {
  .screen {
    width: 200px;
    height: 200px;
  }
  .btn-mode {
    font-size: 0.7rem;
  }
  .slider-div {
    font-size: 0.7rem;
  }
  .btn-clear {
    font-size: 0.7rem;
  }
}
